<!DOCTYPE html>
<html>
<head>
  <title>Lstcls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header><h1><%= link_to "List-0-Matic", root_url %></h1></header>

  <div class="body-container">
    <%= yield %>
  </div>
  <footer>
    <p>This is a footer</p>
  </footer>

</body>
</html>
